# Ignore all subdirectories inside datasets/
simulator/datasets/*/

# Ignore plots directory
simulator/src/plots
# Ignore all ancient directories
**/ancient/


# Ignore dft error eval and interp error eval dirs
simulator/generate_stimuli/dft_error_eval
simulator/generate_stimuli/interp_error_eval

# Ignore macOS metadata files
**/.DS_Store

# temporary vivado files
*.sim/
*.chache/
*.log
*.jou
*.str
*.pb
*.wdb
*.db
*.rlx
*.rtti
*.sdb
*.dbg
*.mem
*.ini
*.xdbg
*.xpr
*.wpc
*.wdf

# vivado XSim simulation directories
**/xsim.dir/
**/behav/xsim/
**/behav/questa/
**/.Xil/
**/.xcl.*/
**/vivado.jou
**/vivado.log

# stop tracking the entire vivado directory
rtl/vivado/


# remove python cache files
**/__pycache__/
*.pyc


# VSCode settings
**/.vscode/